// src/app/profile-view/profile-view.component.scss
h1 {
  margin-bottom: 20px;
  color: #000080;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-size: 20px;
  margin-left: 30px;
}

button {
font-size: 16px;
}

h2 {
  padding-top: 30px;
  color: #000080;
}

.movie-card {
  display: inline-flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 10px;
  max-width: 264px;
  max-height: 510px;
}

mat-card-title {
  font-size: 20px;
  font-weight: 450;
}

img {
  max-width: 264x;
  max-height: 350px;
}
.fav-movies {
  margin-left: 20px;
}

button {
  font-size: 15px;
}


