 <!-- src/app/toolbar/toolbar.component.html -->
<mat-toolbar color="primary">
  <span>MyFlix App</span>
  <span class="spacer"></span>
  <span class="spacer"></span>
  <!-- <button
    mat-button
    [class.active]="isOnMoviesRoute()"
    (click)="navigateToMovies()"
  >
    Movies
  </button>
  <button
    mat-button
    [class.active]="isOnProfileRoute()"
    (click)="navigateToProfile()"
  >
    Profile
  </button> -->

  
  <button mat-button (click)="navigateToMovies()">Movies</button>
    <button mat-button (click)="navigateToProfile()">Profile</button>
    <button mat-button (click)="navigateToWelcome()">Logout</button>
    <!-- <button mat-button (click)="logout()" class="logout-button">Logout</button> -->
</mat-toolbar>